<div class="row">
	<div class="flash-errors">
		<% if !flash.empty? %>
		  
		  <% flash.each do |key, value| %>
		  	
		  	<% error_class = bootstrap_error_class(key) %>
		  	<p class="<%= error_class %>"><%= value %></p>
		  	
		  <% end %>

		<% end %>

		<% if defined? display_errors %>
			<% fails %>
			<% display_errors.each do |error_key, error_message| %>
	
				<p class="bg-danger"><%= "#{error_key} #{error_message}" %></p>

			<% end %>

		<% end %>

	</div>
</div>