<h2>Edit Category:</h2>

<%= render partial: "category_form" %>

<div class="action-links">
	<%= link_to "Delete", admin_category_path, :method => :delete, :data => {:confirm=>'Are you sure? This will nullify all associated Products and Orders!'} %>
</div>