/*
 *= require_tree .
 *= require_self
 */

/* Styling flash errors */
.flash-errors p {
	height: 50px;
	padding: 15px;
	border-radius: 5px;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
	border: 1px solid red;
}

/* Navbar CSS */
 .navbar-main {
 	list-style: none;
 	padding: 0px;
 }

 .under-navbar {
 	list-style: none;
 	padding: 0px;
 	border-top: 1px solid black;
 }

/* Making the table headers bold */
.table thead td{
	font-weight: bold;
}

/* Centering the action button */
a.action-button {
 display: block;
 margin: 0px auto;
 width: 200px;
}