// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------------------
	NAVBAR CSS
--------------------*/
nav {
	.nav-viking-logo{
		height: 60px;
	}

	.nav-right{
		height: 60px;

		.link-wrapper{
			padding: 20px 150px 0 0;
			float: right;
		}
	}
}

.category-filter {
	margin-bottom: 20px;
}

/*--------------------
	HERO CSS
--------------------*/
.main-hero {
	background-color: #333;
	color: white;
	height: 150px;
	margin-bottom: 20px;
	line-height: 150px;

	h2 {
		padding-top: 60px;
	}
}

/*--------------------
	MAIN CSS
--------------------*/
.product-item{
	margin-bottom: 20px;

	.product-title {
		background-color: #333;
		height: 40px;

		a {
			color: white;
			line-height: 42px;
		}
	}

	.product-image {
		position: relative;

		img {
			width: 100%;
		}
	}

	.product-price {
		background-color: white;
		border: 1px solid #aaa;
		padding: 5px;
		position: absolute;
		top: 40px; 
		right: 0px;
	}

	.product-footer {
		background-color: #333;
		height: 60px;
		line-height: 56px;
		
		a {

		}
	}
}


/*--------------------
	FOOTER CSS
--------------------*/
footer {
	background-color: #333;
	color: #fff;

	ul{
		list-style: none;
		padding: 20px 0 0 0;
	}

	.footer-right {
		padding-top: 10px;
	}
}